<div class="help-window window center-window style-1 gui-rows spacing-md scroll ui">

  <h2>Moves</h2>

  <p>
    <span>Attack</span> 
    <span>{input,attack}</span> 
    <span>Regular attack deals <b>2 dmg</b></span>
  </p>

  <p>
    <span>Kick</span> 
    <span>{input,run}</span> 
    <span>Use kick to fall enemy down or counter rolling. Kick <b>1 dmg</b> or <b>2 dmg</b> if the enemy is rolling.</span>
  </p>

  <p>
    <span>Block</span> 
    <span>{input,block}</span> 
    <span>Block attacks, kicks, knives and waves. Block can be broken by rolling. On successful block you can perform a quick counter-attack.</span>
  </p>

  <p>
    <span>Roll</span> 
    <span>{input,roll}</span> 
    <span>Use roll to break enemy block - it also allows you to sneak under the low holes in the wall.</span>
  </p>

  <p>
    <span>Run</span> 
    <span>Hold {input,run}</span> 
    <span>Hold right mouse button to run using stamina.</span>
  </p>

  <p>
    <span>Special</span> 
    <span>{input,spell1}</span> 
    <span>By performing this combination you can use your special skill once in a while.</span>
  </p>

  <p>
    <span>Jump</span> 
    <span>{input,jump}</span> 
    <span>Use jump to avoid rolling attack and wave. You can also jump through the window and over the fissures. You can perform a long jump while running.</span>
  </p>


  <p>
    <span>Throw weapon</span> 
    <span>{input,throw_weapon}</span> 
    <span>You can throw your main weapon - but you will be disarmed for 15 seconds.</span>
  </p>

  <p>
    <span>Dash</span> 
    <span>Double tap move</span> 
    <span>Once per 5 seconds you can use a dash to dodge an attack.</span>
  </p>

  <h2>Pro tips</h2>

  <p>
    <span>Block + Dash</span> 
    <span>Break block</span> 
    <span>If you dash while blocking you can break enemy shield.</span>
  </p>

  <p>
    <span>Use wave</span> 
    <span>Disabling mines</span> 
    <span>If you hit a ticking mine with a wave - you can disable and pick it up</span>
  </p>  

  <p>
    <span>Use kick</span> 
    <span>Reversing knives</span> 
    <span>You can reverse the knife if you kick it</span>
  </p>  

  <p>
    <span>Throw items</span> 
    <span>Support</span> 
    <span>You can give an item to a friend by holding the button that normally uses it.</span>
  </p>

  <p>
    <span>Combat</span> 
    <span>Advanced</span> 
    <span>If you want to stand a chance against experienced players you have to understand blocking and counter-attack.</span>
  </p>  

  <p>
    <span>Moves</span> 
    <span>Advanced</span> 
    <span>You are moving slower if not facing movement direction. You will also move slower when blocking</span>
  </p>

  <div class="server-select gui-cols spacing-md">
    <button class="gui-button primary size-md">Close</button>
  </div>

</div>