<p style="display: none; justify-content: center; padding: 6px 0;"><a class="gui-button patreon iap" target="_blank" href="https://www.patreon.com/posts/browars-2-vs-2-13654933">New post on PATREON</a></p>


<p style="display: none; justify-content: center; padding: 6px 0;"><a class="gui-button primary" target="_blank" href="http://iogames.space/wilds-io">Can we increase our reputation on iogamespace?</a></p>


<p style="display:none">We don't have a tutorial - but <a href="https://discord.gg/Hf7Ep7e" target="_blank">there are PEOPLE who will teach you how to play</a></p>
<p>% Patreon login</p>
<p>% Bow balance | 0.65s charge time, arrow speed 700, less stamina usage</p>
<p>+ To respect your privacy you can now delete your account</p>
<p>% Bow NERF | 0.75s charge time, arrow speed 800 -> 600</p>
<p>% Fixed kick timing and a variety of kicking angles issues</p>
<p>+ Use mouse wheel to control volume</p>
<p>% Limited too many sounds at once</p>
<p>% Collision mechanics doesn't cause bounce</p>
<p>% Shadows can throw weapons</p>
<p>+ New spear charged attack - lunge</p>
<p>+ New spear throw attack - piercing spear</p>
<p>% Fixed pushing through walls</p>
<p>+ Graveyard/Zombie mode</p>
<p>% You grow with the score again</p>
<p>% Changed health <a href="https://wilds.userecho.com/topics/1741-make-health-potions-less-clunky/#comment-20974" target="_blank">potion mechanics a bit</a></p>
<p>+ Right click to abandon a quest</p>
<p>+ Jacqueline Voice Pack</p>
<p>+ Crusader Helmet</p>
<p>+ Angel Wings</p>
<p>+ Demon Wings</p>
<p>+ Demon Horns</p>
<p>+ White Cape</p>
<p>+ Elf Ears</p>
<p>+ Angry Brai's Voice Pack</p>
<p>+ Better announcer</p>
<p>+ You can now spectate all ranked modes</p>
<p>+ Browars (2 vs 2 arena)</p>
<p>% Last hitter gets the gold</p>
<p>% Spam filter for watch mode</p>
<p>% Missing back buttons</p>
<p>+ You can show your friends what does the game look like with a <a href="http://wilds.io/live/" target="_blank">LIVE MODE</a></p>
<p>+ You can now spectate arena matches</p>
<p>+ Login with email</p>
<p>% Quest rewards balancing</p>
<p>+ Team colors in scoreboard</p>
<p>+ Control settings in respawn window</p>
<p>+ Menu redesign</p>
<p>+ Quests</p>
<p>- Removed CTF for the next part of fixes</p>
<p>% Improved waiting for a match screen</p>
<p>% Fixed using items order</p>
<p>% Bots plant bombs in CTF</p>
<p>+ New CTF map</p>
<p>% Melee map is back</p>
<p>% Weakened ogres</p>
<p>+ Ogres</p>
<p>% Removed mountains map from arena</p>
<p>% Fixed clones stuck for 2 seconds</p>
<p>% Fixed kick still hitting after the animation</p>
<p>% Fixed clash mechanics (doesn't clash against bomb)</p>
<p>% Bow - less damage - faster charge</p>
<p>+ 2 seconds invulnerability after spawn</p>
<p>% Fixed mountains and palisades glitch</p>
<p>% Falling from mountains/pallisade causes damage</p>
<p>% Ramming against mountains/pallisade causes damage</p>
<p>% Tweaks in Arena sandworm map</p>
<p>% Tweaks in Fort map</p>
<p>- Players will no longer loose bones over time - it remains unchanged for ranked modes.</p>
<p>% Fixed bots having wrong special attack</p>
<p>+ Recruits system</p>
<p>% Gold cap raised to 1200/week</p>
<p>% Kicked players can be invited back to tribe with a private link</p>
<p>% Hell | shadow health = 2</p>
<p>% Hell | human will have axe, hammer or claws</p>
<p>+ Barbarian cape and noble cape</p>
<p>% Shop redesign</p>
<p>% Nerfed mirage potion, clones last for 15 seconds</p>
<p>+ Welcome to HELL</p>
<p>+ Public tribes</p>
<p>+ Tribe owners can edit guild bulletin now</p>
<p>+ New clash mechanics</p>
<p>+ Ping/latency counter</p>
<p>% Arrows fly in straight line</p>
<p>+ New blood effects</p>
<p>+ Press T or middle mouse button to emote</p>
<p>+ A crown for the King (or Queen)</p>
<p>% Fixed palisade collision detection</p>
<p>% Fixed female heroes in ranked games</p>
<p>% Fixed arena bugs</p>
<p>% Fixed meele only mode</p>
<p>+ New meele only map</p>
<p>+ Many small maps for arena</p>
<p>+ You can now earn (or loose) gold in ranked games</p>
<p>+ In game gold counter</p>
<p>% Football scoring change to emphasize on teamplay</p>
<p>% New menu</p>
<p>- Until fixed CTF has been removed</p>
<p>+ New community badges for Wiki and Training camp</p>
<p>% Only axe can cut trees</p>
<p>% Only hammer (and explosives) can damage gate</p>
<p>+ There is a storage shed in the fort</p>
<p>+ Claim the fort flag</p>
<p>+ Gather wood from trees</p>
<p>+ Use wood to fuel the campfire</p>
<p>+ Burning campfire has a healing effect</p>
<p>+ Destroy gate with explosives</p>
<p>+ Rebuild gate with wood</p>
<p>+ Trees</p>
<p>+ Rope shop</p>
<p>+ Added some palisades for testing</p>
<p>% Players are dropping their items again</p>
<p>% Double stamina regen when not moving</p>
<p>- Easter eggs are over</p>
<p>+ Easter eggs</p>
<p>+ You can eat your chicken for 1hp</p>
<p>% Clones deal 1/3 damage</p>
<p>% HELP icon now leads to <a href="http://wildsiogame.wikia.com/wiki/Wilds.io_Wiki">our brand new Wiki</a></p>
<p>% Fixed stun on wave and claws special being blocked</p>
<p>+ Arrows follow mouse</p>
<p>+ Slashes added to all weapons</p>
<p>+ NEW WEAPON - Claws</p>
<p>+ NEW WEAPON - Spear</p>
<p>+ NEW HAT - Wizard hat</p>
<p>+ NEW SHIELD - Steel shield</p>
<p>+ NEW ITEM - Potion of mirage</p>
<p>+ NEW ITEM - Rope</p>
<p>% Block is 180° vs ranged weapons</p>
<p>% Block is 270° vs meele weapons</p>
<p>% fixed hats</p>
<p>% (!!!) block is now directional</p>
<p>% charged attack now deals 2 damage</p>
<p>+ hair animation</p>
<p>% lighter sprites (less lags)</p>
<p>% charging eats up stamina</p>
<p>% meele charged attack - charges faster, released automatically, don't jump ahead</p>
<p>% no more slowdown while charged</p>
<p>% faster movement speed</p>
<p>% bots aggression has been pumped up</p>
<p>% treasure chest cannot be killed with rolling</p>
<p>% fixed grenades glitch on Firefox</p>
<p>+ bones counter for tribe members</p>
<p>% <a href="https://gfycat.com/BossyLeafyKinkajou">improved tribes map</a></p>
<p>% fixed grenades infinite range</p>