<div class="window style-1 gui-rows spacing-md training-window ui" style="bottom: 48px;">

  <div ui-id=desc>
    <p>Welcome to <b>training</b> mode</p>
    <p>In this mode you can train against a bot or invite up to 4 friends to explain them a game. It is a free for all mode - there are no teams.</p>
  </div>

  <div class="gui-cols spacing-sm soci-icons" ui-id=social>
  
    <a ui-id=inviteLink class="gui-button green stretch just-center size-md">Invite a friend</a>
  
  </div>

  <div class="gui-cols spacing-sm grow-equal">
    
    <button ui-id=help class="gui-button primary just-center size-md">Help</button>
    <button ui-id=exit class="gui-button primary just-center size-md">Back to menu</button>

  </div>

</div>