<div class="window full-window style-1 gui-rows scroll tribe-window">

  <div ui-id="tabs" class="gui-toggles gui-cols grow-equal" style="position: relative; z-index: 2">
    <span ui-value="tribe_map">Map</span>      
    <span class="" ui-value="public_tribes">Find tribe</span>      
    <span class="not_logged_in" ui-value="tribe_create">Create tribe</span>      
    <span class="logged_in" ui-value="tribe_bulletin">Bulletin</span>      
    <span class="logged_in owner_only" ui-value="tribe_edit_bulletin">[EDIT] Bulletin</span>      
    <span class="logged_in" ui-value="tribe_members">Members</span>      
    <span class="logged_in" ui-value="tribe_admin">Administration</span>      
  </div>

  <div ui-id="content" class="grow gui-rows"></div>

</div>
