  <div class="gui-rows spacing-md just-center grow">

    <div style="max-width: 600px" class="gui-rows spacing-md">

    <div class="gui-cols grow-equal spacing-md size-md space-between">

        <input maxlength=6 ui-id="createTribeTag" type=text placeholder="TRIBE TAG" class="gui-input size-md" />
        <input maxlength=24 ui-id="createTribeName" type=text placeholder="TRIBE NAME" class="gui-input size-md" />
        <span ui-id="createTribe" class="gui-button primary">Create <span class="coins">1000</span></span>

    </div>

    <div>If you have kicked yourself from a tribe type /recover_tribe in chat.</div>

    </div>
    
  </div>
