.tribe-window {

  .tribe-map .map canvas {

    // padding: 32px;   
    // height: 100%;
    // max-width: 100%;
     image-rendering: pixelated;
    // object-fit: contain;
    transform-origin: top;

  }

  .tribe-members {

    .members > * {
      display: inline-block;
      border: 1px solid #000;
      width: 23%;      
      margin: 1% 1%;
      height: 64px;
      display: inline-flex;
      justify-content: center;
      align-items: center;      
    }

    .icon { transform: scale(2); image-rendering: pixelated; margin-right: 16px; }

    .bones { margin-left: 8px; border-left: 2px solid #a07234; padding-left: 8px; }
    .bones .icon { margin-left: 10px; }

  }

}

